* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.code {
  font-family: "Courier New", monospace;
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  white-space: pre-wrap;
}

.social-icons {
  font-size: 26px;
  /* Размер иконок */
}

.social-icons a {
  margin-left: 10px;
  color: #000000;
  /* Цвет иконок */
  text-decoration: none;
}

.social-icons a:hover {
  color: #0074cc;
  /* Цвет при наведении на иконки */
}

.content {
  position: relative;
  width: 94%;
  margin: 0 auto;
}
